.personalDataConfirmation {
  width: var(--main-width);
  height: var(--main-height);
}

.personalDataConfirmation__content {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.personalDataConfirmation__content h3 {
  font-family: 'GrtskPeta-Regular';
	font-size: 24px;
	font-weight: 400;
	line-height: 31px;
	letter-spacing: -2%;
	color: var(--main-text-color);
  margin: 0 0 32px 0;
}

.personalDataConfirmation__content > img {
	margin-left: calc(50% - 29px);
}

.personalData {
  display: flex;
  flex-wrap: wrap;
}

.personalData h4 {
  font-family: 'GrtskPeta-Regular';
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0px;
  color: var(--grey-color);
  margin: 0 0 5px 0;
}

.personalData h5 {
  font-family: 'GrtskPeta-Regular';
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0px;
  color: var(--blue-color);
  margin: 0;
}

.personalDataConfirmation__content h6 {
  font-family: 'GrtskPeta-Regular';
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
  color: var(--grey-color);
  margin: 26px 0 130px 0;
}

.fio {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 6;
  background-color: rgba(244, 244, 244, 1);
  margin-bottom: 2px;
  padding: 12px 12px 16px 12px;
}

.vu {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: rgba(244, 244, 244, 1);
  margin-right: 1px;
  padding: 12px 12px 16px 12px;
}

.phone {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: rgba(244, 244, 244, 1);
  margin-left: 1px;
  padding: 12px 12px 16px 12px;
}