.orderItem {
  display: flex;
	align-items: center;
	height: 98px;
	justify-content: space-around;
	background-color: rgba(244, 244, 244, 1);
	margin-bottom: 12px;
	padding: 16px;
}

.orderItem img {
  width: 44px;
	height: 44px;
	margin-right: 16px;
}

.orderItem div {
  width: 65%;
}

.orderItem_id {
  font-family: 'GrtskPeta-Bold';
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	letter-spacing: -2%;
  color: var(--main-text-color);
  margin: 0;
}

.orderItem_city {
  font-family: 'GrtskPeta-Regular';
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: -2%;
  color: var(--red-color);
  margin: 0;
}

.orderItem_status {
  font-family: 'GrtskPeta-Regular';
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: -1px;
  color: var(--blue-color);
  margin: 0;
}

.registered {
	color:rgba(39, 174, 96, 1);
}

.freightOrders__content .orderItem_button {
	width: 44px;
	margin-right: 16px;
	border: none;
	cursor: pointer;
}

.freightOrders__content .orderItem_button img {
	margin: 0;
}