.freightOrders {
  display: flex;
	width: var(--main-width);
	height: var(--main-height);
  flex-direction: column;
	margin-left: 20px;
	margin-right: 20px;
}

.freightOrders__content .ordersList {
	height: 320px;
	overflow-y: scroll;
}

.freightOrders__content h1 {
	font-family: 'GrtskPeta-Regular';
	font-size: 24px;
	font-weight: 400;
	line-height: 31px;
	letter-spacing: -2%;
  color: var(--main-text-color);
	margin-top: 100px;
	margin-bottom: 20px;
}

.freightOrders__content h6 {
	font-family: 'GrtskPeta-Regular';
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: -2%;
  color: var(--grey-color);
	margin-top: 24px;
	margin-bottom: 20px;
}

.freigthOrdersMenu__content {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.marginTop {
	margin-top: 351px;
}

.freigthOrdersMenu__content .menuItem {
	width: 50%;
	text-align: center;
	padding-top: 16px;
	border-top: 1px solid rgba(211, 211, 211, 1);
	cursor: pointer;
}

.freigthOrdersMenu__content .menuItem h4 {
	font-family: 'GrtskPeta-Regular';
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: var(--grey-color);
	margin: 0;
}

.freigthOrdersMenu__content .active {
	border-top: 2px solid var(--red-color);
}

.freigthOrdersMenu__content .active h4 {
	font-weight: 600;
	color: var(--main-text-color);
}
