:root {
	--main-width: 360px;
	--main-height: 730px;
	--main-text-color: rgba(17, 17, 17, 1);
	--grey-color: rgba(144, 144, 144, 1);
	--blue-color: rgba(0, 47, 108, 1);
	--button-fill-color: rgba(0, 65, 160, 1);
	--red-color: rgba(255, 0, 0, 1);
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app {
	display: flex;
	justify-content: center;
	width: var(--main-width);
	max-height: var(--main-height);
	margin: 0 auto;
	background:#fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
