.errorBlock {
  position: relative;
  z-index: 99999;
}

.errorBlock__content {
  display: flex;
  position: absolute;
  width: 100%;
  flex-direction: column;
  background-color: rgba(255, 232, 232, 1);
  padding: 10px 20px 22px 20px;
}

.errorTitle {
  font-family: 'GrtskPeta-Regular';
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -2%;
  color: var(--red-color);
  margin: 0;
}

.errorMessage {
  font-family: 'GrtskPeta-Regular';
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -2%;
  color: var(--main-text-color);
  margin: 0;
  margin-top: 10px;
}

.errorBlock-enter-active {
  animation: showError 1s ease;
}

.errorBlock-exit {
  animation: fadeError 0.5s ease;
}


@keyframes showError {
  0% {
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}

@keyframes fadeError {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}